.input-container {
  margin-top: 1rem;
  margin-left: 2.2rem;
}

.todo-input {
  width: 90%;
  background-color: #25273c;
  border: none;
  outline: none;
  padding: 15px;
  height: 2rem;
  border-radius: 0.2rem;
  position: relative;
}

.todo-input::placeholder {
  font-size: 10px;
  padding-left: 1rem;
  color: #595b70;
}

.download-icon {
  color: #595b70;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-left: 6px;
}
