.input-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.dark-mode-input, .dark-mode-input input{
  background:#25273c ;
  color: white;
}


.todo-input {
  width: 100%;
  background-color: white;
  border: none;
  outline: none;
  height: 2.3rem;
  position: relative;
  color: rgb(20, 18, 18);
}

.todo-input::placeholder {
  font-size: 11px;
  padding-left: 1.5rem;
  color: #595b70;
}

.download-icon {
  font-size: 20px;
}

.download-btn {
  background: transparent;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.download-btn:hover {
  cursor: pointer;
}
