.todo-item {
  height: 52px;
  background: #25273c;
  overflow: hidden;
}

.todo-item-input {
  width: 93%;
  background-color: #ffffff;
  border: none;
  outline: none;
  height: 100%;
  position: relative;
  color: rgb(20, 18, 18);
  padding: 14px;
  border: 1px solid #e6e5ea;
  font-size: 1rem;
}

.todo-item-input::placeholder {
  font-size: 11px;
  padding-left: 1.5rem;
  color: #595b70;
}

.todo-output {
  background-color: white;
  padding: 14px;
  border-bottom: 1px solid #e6e5ea;
}

.dark-mode-input {
  background: #25273c;
  color: white;
  border-color: #37394e;
}

.dark-mode-input input {
  border-color: #37394e;
}

.todo-item-btn::placeholder {
  font-size: 10px;
  padding-left: 1.5rem;
  color: #595b70;
}

.edit-btn {
  border: none;
  height: 53px;
  width: 1.42rem;
}

.todo-output button {
  border: none;
  background: transparent;
}

.icon-flex {
  display: flex;
  justify-content: space-between;
}

.completed-icon {
  width: 20px;
  height: 20px;
  color: #595b70;
  margin-right: 2rem;
}

.delete-icon {
  width: 39px;
  height: 18px;
}

.delete-icon:hover {
  color: #c5aeff;
  cursor: pointer;
}

.left-btn {
  display: flex;
}

.check-mark-wrapper {
  border: 1px solid rgb(23, 23, 23);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  align-items: center;
  background-color: #0073cf;
  margin-right: 2rem;
}

.check-mark {
  width: 25px;
  height: 24px;
  color: #eae7f2;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
