.page-bg {
  background-image: url(../public/images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  height: 258px;
  max-width: 425px;
}

.heading-flex {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.heading-title {
  color: white;
  letter-spacing: 11.5px;
  margin-left: 2rem;
  font-size: 1.6rem;
}

.light-icon {
  color: white;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.dark-mode {
  background-image: url(../public/images/bg-mobile-dark.jpg);
   background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  height: 258px;
  /* max-width: 425px; */
  background-color: #171723;
}

.main-bg-dark {
  height: 100vh;
  background: #000;
}

.main-bg-light {
   height: 100vh;
  background: white;
}